*.ext filter=lfs diff=lfs merge=lfs -text
C:/Users/workstation/Desktop/plantModel/plant_model.keras filter=lfs diff=lfs merge=lfs -text
plant_model/plant_model.keras filter=lfs diff=lfs merge=lfs -text
